<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.healthy.model.mapper.CrewMapper">
	<select id="findCrewListByName" parameterType="string"
		resultType="crewVO">
		select *
		from healthy_crew
		where crew_location like '%' || #{value} || '%'
	</select>
	<select id="getAllCrewList" parameterType="string"
		resultType="crewVO">
		select * from healthy_crew
	</select>
	<insert id="joinCrew" parameterType="HashMap">
		insert into healthy_crew_member(member_id, crew_id, join_date)
		values(#{memberId}, #{crewId}, sysdate)
	</insert>
	<select id="crewMemberCheck" parameterType="HashMap" resultType="int">	
		select count(*) from healthy_crew_member
		where member_id = #{memberId} and crew_id = #{crewId}
	</select>
</mapper>
 
 