<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.healthy.model.mapper.CrewBoardMapper">
	<sql id="findCrewBoard">
		select *
		from healthy_board
	</sql>

	<select id="findCrewBoardListByCrewId" parameterType="string"
		resultType="CrewBoardVO">
		<include refid="findCrewBoard"></include>
		where crew_id=#{value}
	</select>

	<select id="findCrewBoardListByCrewIdTest"
		parameterType="string" resultType="CrewBoardVO">
		<include refid="findCrewBoard"></include>
		where crew_id=1
	</select>

	<select id="findCrewBoardListByCrewIdAndMemberId"
		parameterType="crewBoardVO" resultType="CrewBoardVO">
		<include refid="findCrewBoard"></include>
		where crew_id=#{crewId} and member_id=#{memberId}
	</select>

	<select id="findCrewBoardByCrewBoardId" parameterType="string"
		resultType="CrewBoardVO">
		<include refid="findCrewBoard"></include>
		where board_id=#{value}
	</select>

	<select id="findCrewByCrewId" parameterType="string"
		resultType="crewVO">
		select *
		from healthy_crew
		where crew_id=#{value}
	</select>

	<insert id="postCrewBoard" parameterType="crewBoardVO">
		<selectKey keyProperty="boardId" resultType="string" order="BEFORE">
			select board_seq.nextval from dual
 		</selectKey>
			insert into healthy_board
			values(#{boardId}, #{memberId}, #{crewId}, #{boardTitle}, #{boardContent}, sysdate)
	</insert>
	
	<delete id="deleteCrewBoardPost" parameterType="string">
		delete from healthy_board
		where board_id=#{value}
	</delete>
</mapper>
 
 