<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.healthy.model.mapper.MemberMapper">
	<!-- Spring Security에서 로그인 인증시 사용 : 
	      사용가능한(enabled 1) 계정일 경우만 조회. 
	 -->
	<select id="findMemberById" resultType="memberVO">
 		SELECT	member_id, password, member_name, address, email, height, weight, age, phone, enabled
		FROM	healthy_member
		WHERE 	member_id=#{memberId}	
		AND		enabled=1 		
 	</select>
	<!-- Spring Security에서 권한 체크를 위해 사용 -->
	<select id="selectAuthorityByUsername"  resultType="authority">
		SELECT	username, authority
		FROM	authorities
		WHERE	username=#{value}
	</select>
	<!-- 회원 가입 -->
	<insert id="registerMember" parameterType="memberVO">
		insert into healthy_member(member_id, password, member_name, address, email, height, weight, age, phone)
		values (#{memberId}, #{password}, #{memberName}, #{address}, #{email}, #{height}, #{weight}, #{age}, #{phone})
	</insert>
	<select id="idcheck" resultType="int">
		select count(*) from healthy_member where member_id=#{memberId}
	</select>
	<insert id="registerRole" parameterType="authority">
		insert into authorities(username,authority) values(#{username},#{authority})
	</insert>
	<!-- 회원 수정 -->
	<update id="updateMember" parameterType="memberVO">
		update healthy_member 
		set password=#{password}, address=#{address}, height=#{height}, weight=#{weight}, age=#{age}, phone=#{phone}
		where member_id=#{memberId}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="selfdelete">
		update healthy_member
		set enabled=0
		where member_id=#{memberId}
	</update>

	<select id="checkAccount" parameterType="string" resultType="int">
		select count(*)
		from healthy_member
		where member_id=#{memberId} and email=#{email}
	</select>
	
	<update id="updateMemberPassword" parameterType="string">
		update healthy_member
		set password=#{password}
		where member_id=#{memberId}
	</update>
	
</mapper>












